code {
    background-color: rgb(48 60 84);
    padding: 0.2em 0.4em;
    font-size: 90%;
    white-space: break-spaces;
    border-radius: 6px;
}

code.language-python{
    padding: 0;
    font-size: 100%;
}

.highlight {
    margin-bottom:1.2em;
}

main {
    line-height: 2rem;
}

main a {
    --tw-text-opacity:1;
    color:rgb(195 201 212/var(--tw-text-opacity));
    background-color: transparent;
    text-decoration: underline;
}

.py-20 {
    padding: 1rem 0 3rem 0;
}

.font-mono {
    font-family: Raleway,sans-serif;
}

.text-gray-400 {
    --tw-text-opacity:1;
    color:rgb(195 201 212/var(--tw-text-opacity))
}

ul, ol {
    margin: -10px 0 15px 0;
}