{{ define "main" }}
  <article>{{ .Content }}</article>

      {{ $posts := where site.RegularPages "Section" "posts" | first 5 }}
      {{ with $posts }}
          <h2>{{ i18n "LatestArticles" . }}</h2>
          <ul>
            {{ range $posts }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
      {{ end }}

      {{ $books := where site.RegularPages "Section" "books" | first 5 }}
          {{ with $books }}
          <h2>{{ i18n "LatestBooks" . }}</h2>
          <ul>
            {{ range $books }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
    {{ end }}